---
title: Chris Barrick
layout: default
tall_header: true
---

<section id='about'>
  <h2>About</h2>
  <p>Hi, I'm Chris.</p>
  <p>
    I am a software engineer, currently working at Google on
    <a href="https://www.oreilly.com/library/view/reliable-machine-learning/9781098106218/" target="_blank">reliable machine learning</a>
    in Cloud, mostly for
    <a href="https://cloud.google.com/vertex-ai" target="_blank">Vertex AI</a> and
    <a href="https://cloud.google.com/dialogflow" target="_blank">Dialogflow</a>.
  </p>
  <p>
    Lately, I've been spending my free time playing with
    <a href="https://www.rust-lang.org" target="_blank">Rust</a>,
    <a href="https://archlinux.org" target="_blank">Arch Linux</a>, and
    <a href="https://openwrt.org" target="_blank">OpenWRT</a>.
  </p>
</section>

<nav id='posts' class='sectioned-nav'>
  <h2>Posts</h2>
  {% assign postsByYear = site.posts | group_by_exp: 'post', "post.date | date: '%Y'" %}
  {% for group in postsByYear %}
    {% assign year = group.name %}
    {% assign posts = group.items %}
    <section class='post-group'>
      <h3 class='post-year'>{{ year }}</h3>
      <ul class='post-list'>
        {% for post in posts %}
          <li class='post-list-item'>
            <a href='{{ post.url }}' class='post-link'>
              {{ post.title }}
            </a>
            {% if post.path contains '_drafts' %}<small>[draft]</small>{% endif %}
            <time class='post-date' datetime='{{ post.date | date_to_xmlschema }}'>{{ post.date | date: '%b %d' }}</time>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</nav>
