@import 'colors.scss';

$break-mobile: 512px;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,700&display=swap');


// Common Elements
// ---------------------------------------------------------------------------

html {
  height: 100vh;
  width: 100vw;

  background-color: $bg-color;
  color: $text-color;

  font-size: 16px;
  font-family: Sans-Serif;
  font-family: Fira Sans, Sans-Serif;

  line-height: 1.5;

  @media (max-width: $break-mobile) {
    font-size: 12px;
  }
}

body {
  height: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

h5 {
  font-size: 1.25rem;
  font-weight: normal;
  font-style: italic;
  margin: 1rem 0;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

a {
  color: $link-color;
  text-decoration: none;
  svg { fill: $link-color; }
  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  padding-inline-start: 2.5rem;
}
ul { list-style: disc inside; }
ol { list-style: decimal inside; }

dl {
  // TODO
}

blockquote {
  border-left: 4px solid $text-color;
  padding-left: 1rem;
}

cite {
  font-style: italic;
}

pre {
  font-size: 0.75rem;
  padding-left: 1rem;
  overflow-x: scroll;
  z-index: 1;
  font-family: 'Fira Code', monospace;

  @media (max-width: $break-mobile) {
    font-size: 1rem;
  }
}

code, kbd, samp {
  padding: 0 0.25rem;
  color: $base05;
}

mark {
  background-color: $mark-color;
}

big {
  font-size: 1.15rem;
}

small {
  font-size: 0.85rem;
}

hr {
  width: 80%;
  margin: 2rem auto;
  border: none;  // Reset the user-agent.
  border-bottom: 1px solid $text-color;
}

svg {
  height: 100%;
  width: auto;
}

figure {
  text-align: center;
}

canvas, video, audio, iframe {
  width: 100%;
}

meter, progress {
  width: 100%;
}


// Sectioning
// ---------------------------------------------------------------------------

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;

  nav {
    margin: 0.25rem;
  }
}

main {
  min-height: 80%;
  max-width: 50rem;
  padding: 2rem 4rem;
  margin: 0 auto;

  @media (max-width: $break-mobile) {
    padding: 1rem;
  }
}

section {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  margin: 4rem;
}


// Tables
// ---------------------------------------------------------------------------

table {
  border-collapse: collapse;
}

caption {
  margin: 0.5rem;
}

thead, tfoot {
  color: $bg-color;
  background-color: $text-color;
}

thead {
  &> tr > th:first-child { border-radius: 12px 0 0 0; }
  &> tr > th:last-child { border-radius: 0 12px 0 0; }
}

tfoot {
  &> tr > th:first-child { border-radius: 0 0 0 12px; }
  &> tr > th:last-child { border-radius: 0 0 12px 0; }
}

th, td {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: darken($bg-color, 10%);
}

tr:nth-child(odd) {
  // Don't style odd rows. This effects code blocks with line numbers.
}


// Forms
// ---------------------------------------------------------------------------
// TODO


// Sectioned Nav
// ---------------------------------------------------------------------------
// A sectioned nav is a <nav> with multiple sections and is drawn with a
// flexbox table design. It is used for the post archive.
//
// - The first child of a sectioned nav should be the nav heading (e.g. <h2>),
//   and all other children should be <section>s.
//
// - Each section should contain two children. The first child should be the
//   section heading (e.g. <h3>), and the second child should be a <ul> listing
//   the navigation items.
//
// - The navigation items are <li>s with at least one child. The first child
//   should be the navigation link, and all other children are metadata (e.g.
//   timestamps) to be drawn in columns to the right.
//
// You only need to add the `sectioned-nav` class to the outer nav. The rest
// is automatic.

.sectioned-nav {
  section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 0;

    @media (max-width: $break-mobile) {
      flex-direction: column;
      margin-bottom: 1rem;
    }

    &> :first-child {
      flex: 1;
      margin: 0;
      font-size: 1.7rem;
    }
  }

  ul {
    width: 100%;
    flex: 6;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px dashed $text-color;
    padding: 0.5rem 0;

    &> :first-child {
      flex: 5;
    }

    &> :not(:first-child) {
      flex: 1;
      text-align: right;
    }
  }
}


// Small Components
// ---------------------------------------------------------------------------

// A list drawn in a single line with '·' as a separator.
.inline-list {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  &> li {
    display: inline-block;
    &:not(:last-child)::after {
      content: '·';
      margin: 0 0.5rem;
    }
  }
}

// A link that is only colored on hover.
.quiet-link {
  text-decoration: none;
  color: $text-color;
  svg { fill: $text-color; }
  &:hover {
    text-decoration: none;
    color: $link-color;
    svg { fill: $link-color; }
  }
}

// The container around an SVG icon. This should be an `<a>` with a link.
.icon {
  fill: $text-color;
  display: inline-block;
  vertical-align: text-top;
  height: 1em;
}

// Anything that shouldn't be displayed.
.hidden {
  display: none;
}

// Stretched to fill the viewport.
.full-screen {
  height: 100%;
  width: 100%;
}
