---
layout: compress
---
<!doctype html>
<html lang='{{ page.lang | default: site.lang }}'>

  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>{{ page.title }}</title>

    <!-- Include MathJax -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel='stylesheet' type='text/css' href='{{ "style.css" | relative_url }}'>
    <link rel='sitemap' type='application/xml' href='{{ "sitemap.css" | relative_url }}'>
    {% feed_meta %}{% comment %}Adds a <link> for the atom feed.{% endcomment %}
    <link rel='license' href='{{ site.license.url }}'>

    {% seo title=false %}
  </head>

  <body>

    <header class='{{ page.tall_header | replace: "true", "full-screen" }}'>
      <h1><a class='quiet-link' href='{{ "/" | relative_url }}'>{{ site.title }}</a></h1>
      <nav id='main-nav'>
        <h2 class='hidden'>Site Navigation</h2>
        <ul class='inline-list'>
          <li><a class='quiet-link' href='{{ "/#about" | relative_url }}'>About</a></li>
          <li><a class='quiet-link' href='{{ "/#posts" | relative_url }}'>Posts</a></li>
        </ul>
      </nav>
      <nav id='icon-nav'>
        <ul class='inline-list'>
          <li><a class='quiet-link icon' href='https://www.linkedin.com/in/csb1024/' target="_blank">{% include icons/linkedin.svg %}</a></li>
          <li><a class='quiet-link icon' href='https://github.com/cbarrick' target="_blank">{% include icons/github.svg %}</a></li>
          <li><a class='quiet-link icon' href='https://hachyderm.io/@csb' target="_blank">{% include icons/mastodon.svg %}</a></li>
          <li><a class='quiet-link icon small' href='{{ "feed.xml" | relative_url }}' target="_blank">{% include icons/rss.svg %}</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <ul class='inline-list'>
        {% assign copydate = page.date | default: site.time %}
        {% assign copydate_year = copydate | date: '%Y' %}
        <li><small>&copy; <time datetime='{{ copydate_year }}'>{{ copydate_year }}</time> {{ site.author.name }}</small></li>
        <li><small><a class='quiet-link' rel='license' href='{{ site.license.url }}'>{{ site.license.spdx | replace: "-", " " }}</a></small></li>
      </ul>
    </footer>

  </body>

</html>
