<!doctype html>
<html lang='{{ page.lang | default: site.lang }}'>

  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>{{ page.title }}</title>

    <link rel='stylesheet' href='/style.css'>
    <link rel='license' href='https://creativecommons.org/licenses/by/4.0/'>
    <!-- A link with rel='license' is also set in the footer. Keep these in sync. -->

    {% feed_meta %}
    {% seo title=false %}
  </head>

  <body>

    <header class='{{ page.tall_header | replace: "true", "full-screen" }}'>
      <h1><a class='quiet-link' href='{{ site.baseurl }}/'>{{ site.title }}</a></h1>
      <nav id='main-nav'>
        <h2 class='hidden'>Site Navigation</h2>
        <ul id='nav-list' class='inline-list'>
          <li><a class='quiet-link' href='{{ site.baseurl }}/#about'>About</a></li>
          <li><a class='quiet-link' href='{{ site.baseurl }}/#posts'>Posts</a></li>
          <li><a class='quiet-link' href='{{ site.baseurl }}/#projects'>Projects</a></li>
          <li><a class='icon' href='{{ site.baseurl }}/feed.xml'>{% include octicons/rss.svg %}</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <small>
        <ul class='inline-list'>
          {% assign copydate = page.date | default: site.time %}
          {% assign copydate_iso = copydate | date_to_xmlschema %}
          {% assign copydate_year = copydate | date: '%Y' %}
          <li>&copy; <time datetime='{{ copydate_iso }}'>{{ copydate_year }}</time> {{ site.title }}</li>
          <li><a class='quiet-link' rel='license' href='https://creativecommons.org/licenses/by/4.0/'>CC BY 4.0</a></li>
          <!-- A link with rel='license' is also set in the head. Keep these in sync. -->
        </ul>
      </small>
    </footer>

  </body>

</html>
